body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
button {
  cursor: pointer;
}
#data {
  border-radius: 1.5rem;
  box-shadow: 0.2rem 0.2rem 0.8rem rgba(0, 0, 0, 0.3);
  padding: 0.1rem;
  div:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  div {
    font-size: 1.5em;
    padding: 1rem;
    * {
      display: inline;
    }
    head {
      font-weight: normal;
      margin: 0;
      padding: 0;
    }
    p {
      font-size: 0.8rem;
      margin-left: 0.5rem;
    }
    @media (min-width: 1024px) {
      * {
        display: block;
      }
      head {
        font-size: 1.5em;
      }
    }
  }
}
